body {
  font-family: 'Cormorant', serif;
  font-size: 16px;
  font-weight: 400;
}
h1 {
  font-size: 45px;
  color: rgb(22, 15, 78);
}
.container {
  text-align: center;
}
.animation-container {
  width: 70%;
  margin: 45px auto;
}
.animation-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border: 1px solid black;
  width: auto;
  height: 350px;
}
.columns {
  position: relative;
  display: flex;
  justify-content: center;
  width: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.columns.animating {
  z-index: 1;
  transform-origin: bottom;
  scale: 1.05;
}
.columns.animating.biggest {
  box-shadow: 0 0 10px 4px rgba(6, 146, 62, 0.4);
}
.columns-title {
  position: absolute;
  bottom: 100%;
  transform: translateY(-5px);
}
.columns.moving {
  transform: translateY(-15px);
  transition: transform 0.3s ease;
  z-index: 2;
}

.columns.shifting {
  box-shadow: 0 0 10px 4px rgba(255, 157, 35, 0.5);
  transition: transform 0.3s ease;
}
